@{
    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>

<p>
    Greetings! I'm Rishikesh Nandurkar, the creator of this Simple food menu app with a search feature. 
     Feel free to connect with me at nrnnandurkar@gmail.com for any questions or collaborations. Appreciate it!
 </p>